<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TRADE CELL</title>

    <!-- Carga de iconos-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <section class="bienvenidos" id="encabezado">
        <header class="encabezado navbar fixed-top" role="banner">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                    <img src="~/images/logo.svg" alt="Logo del sitio" />
                </a>

                <button type="button" class="boton-menu d-md-none" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                </button>

                <nav id="menu-principal" class="collapse">
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                        <li><a href="#nosotros">Nosotros</a></li>
                        <li><a href="#contacto">Contacto</a></li>
                        <li><a href="#servicios">Servicios</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="texto-encabezado text-center">
            <div class="container">
                <h1 class="display-4">Diseño de APPS para empresas</h1>
                <p>Creamos aplicaciones según las necesidades y requerimientos de nuestros clientes.</p>
                <a asp-area="" asp-controller="Admin" asp-action="Index" class="btn btn-primary btn-lg">Ponte en contacto</a>
            </div>
        </div>
        <div class="flecha-bajar text-center">
            <a data-scroll href="#nosotros"><i class="fas fa-angle-down"></i></a>
        </div>
    </section>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - TradeCell.Web</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/jquery-3.3.1.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
                integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
                crossorigin="anonymous">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
